<div
  style="padding:30px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
  align="left">
  <strong>Olá, {{deliveryMan}} </strong>
  <br/>
  <p>Entrega de número <strong>{{orderId}} </strong> <span > <strong style="color:red">foi cancelada</strong></span></p>
</div>
</div>
